
.footer {
  padding-top: 55px;

  &-group-link {

    margin-bottom: 50px;
    position: relative;

    ul {
      @include font-size(12px);

      li {
        margin: 15px 0;
      }

      li em {
        color: $gold;
      }

      li a {
        color: $black;
        font-weight: calculate-font-weight('regular');

        &:hover {
          color: $blue-medium;
        }
      }
    }

  }

}
