

.navigation {

  background: $white;

  [role='menubar'] {

    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;

  }

  // Horizontal nav initial styles
  //=================================
  &.horizontal-nav {
    align-items: center;
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
    width: 100%;

    [role='menubar'] {
      display: flex;
    }

    li {

      [role='menuitem'] {
        display: block;
      }

      &:last-of-type {
        [role='menuitem'] {
          padding-right: 0;
        }
      }

    }

    // Main Navigation
    //=================================
    &.main {
      padding: 30px 0 0;

      .navigation-logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 22%;
        max-width: 220px;

        img {
          width: 100%;
        }

      }


      [role='menubar'] {
        display: none;

        li {

          &.navigation-primary-search {
            cursor: pointer;
            background-image: url('../images/ico_search.png');
            background-repeat: no-repeat;
            background-position: center center;
            padding-right: 0;
            padding-left: 0;
            width: 25px;

            [role='menuitem'] {
              height: 25px;
              text-indent: -9000px;
              position: relative;
              width: 100%;
            }

            [role='menuitem']:hover {

              &::after {
                display: none;
              }
              
            }

            form {
              position: absolute;
              height: 45px;
              right: 30px;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;
            }

            input {
              //display: none;
              border: none;
              border-bottom: 1px solid #ccc;
              
              @include font-size(24px);
              font-weight: calculate-font-weight('thin');
              height: 45px;
              padding: 1px;
              position: relative;
              //visibility: hidden;
              width: 100%;
              
            }

            &:hover {
              background-image: url('../images/ico_search-hover.png');
            }
          }

          @include bp(medium) {
            padding: 27px 12px 0;
          }

          @include bp(large) {
            padding: 27px 27px 0;
          }

          &:last-of-type {
            padding-right: 0;
          }

          [role='menuitem'] {
            position: relative;
            padding: 0 0 27px;

            &.navigation-search {
              text-indent: -1000px;
            }

            &::after {
              background: $blue-light;
              bottom: 23px;
              content: '';
              display: none;
              height: 3px;
              left: 0;
              position: absolute;
              width: 100%;
            }

            &:hover {

              &::after {
                display: block;
              }

            }
          }
        }
      }

      @include bp(medium) {

        .navigation-logo {
          left: 0%;
          transform: translateX(0%);
        }

        [role='menubar'] {
          display: flex;
        }
      }
    }

  }




  [role='menuitem'] {
    color: $black;
    font-weight: map-deep-get($fonts-weight, $font-standard, regular);
    text-decoration: none;
    transition: padding .25s ease, font-size .25s ease;

    @include bp(medium) {
      @include font-size(15px);
      line-height: 1.53;
      padding: 0 16px;
    }
    @include bp(large) {
      @include font-size(16px);
      line-height: 1.5;
      padding: 0 24px;
    }
  }

}
