// =================================

@font-face {
	font-family: 'GT America';
	src:url('./GT-America-Standard-Light.woff2') format('woff2'),
		url('./GT-America-Standard-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT America';
	src:url('./GT-America-Standard-Medium.woff2') format('woff2'),
		url('./GT-America-Standard-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GT America';
	src:url('./GT-America-Standard-Bold.woff2') format('woff2'),
		url('./GT-America-Standard-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GT America';
	src:url('./GT-America-Extended-Black.woff2') format('woff2'),
		url('./GT-America-Extended-Black.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

