@font-face {
	font-family: 'GT America';
	src:url('./2450F929ED9DCC992.woff2') format('woff2'),
		url('./2450F929ED9DCC992.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GT America';
	src:url('./291CA796D941D53E9.woff2') format('woff2'),
		url('./291CA796D941D53E9.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}