
@import '../../../assets/src/scss/variables';
@import '../../../assets/src/scss/color-palette';
@import '../../../assets/src/scss/mixins';

.navigation-logo img {
  width: auto;
  max-width: 220px;
}

.topbar {

  &-content--button {
    display: inline-block;
  }

  &-dropdowns {
    padding: 35px 20px;

    a:not(.button) {
      @include font-size(12px);
    }

    &--account {
      width: 50%;
    }
  }

}

main {
  background: $white;
}

