
// Color Palette
// -------------
// - Primary
// - Secondary
// - Links
// - Misc
// - <hr>



// Primary
$black: #000;
$blue-medium: #0000eb;
$white: #fff;

// Secondary
$blue-light: #ebf0fa;
$gray-dark: #736e7d;
$blue-dark: #006ed7;

// utility colors
$red: #eb4655;
$green: #32a02d;
$gray-light: #d6d6d6;// miscj
$gray-medium: #707070;
$off-white: rgb(235, 240, 250);



// Misc
$purple: #812990;

// Common colors
$color-text: $black;
$color-bg: #f1f1f1;
$color-border: #ddd;






// <hr> border color
$hr-color: lighten($black, 70%);
