
/**
 * Global app/site styles
 * =================================
 */
 body {
	background-color: $color-bg;
	font-family: $fontStandard;
}

/**
 * Default layout container
 */
.l-container {

	max-width: #{$layout-max-width};

}



/**
 * Row Column classes
 * =================================
 * Generates class for 3 breakpoints:
 * small / medium / large
 * example:
 * .column-small-3
 * .column-medium-6
 * .column-large-8
 */
.section {
	display: block;
	position: relative;
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	position: relative;
	width: 100%;

	
	&.align-left {
		justify-content: flex-start;
	}
	&.align-right {
		justify-content: flex-end;
	}
	&.align-center {
		justify-content: center;
	}
	&.align-justify {
		justify-content: space-between;
	}
	&.align-spaced {
		justify-content: space-around;
	}

	.column {
		display: block;
		position: relative;

		&.small {
			@include icons-list($columns);
		}
	
		&.medium {
			@include bp(medium) {
				@include icons-list($columns);
			}
		}
		
		&.large {
			@include bp(large) {
				@include icons-list($columns);
			}
		}

	}


}
