
// Global app/site styles
//=================================
* {
  // sass-lint:disable no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: transparent;
  font-family: $font-standard;
  scroll-behavior: smooth;
}


.navigation-logo {

  img {
    width: auto;
    max-width: 220px;
  }

}

