
// Typography text align options
//=================================
// ** need to refactor with better breapoint mixin
.text-left {
  text-align: left;
}

.text-left-small-only {
  @media (max-width: #{map-get($breakpoints, medium)}) {
    text-align: left;
  }
}

.text-right {
  text-align: right;
}

.text-right-small-only {
  @media (max-width: #{map-get($breakpoints, medium)}) {
    text-align: right;
  }
}

.text-right-medium-up {
  @media (min-width: #{map-get($breakpoints, medium)}) {
    text-align: right;
  }
}

.text-center {
  text-align: center;
}

.text-center-medium-up {
  @media (min-width: #{map-get($breakpoints, medium)}) {
    text-align: center;
  }
}

.text-center-medium-only {
  @media (min-width: #{map-get($breakpoints, medium)}) and (max-width: #{map-get($breakpoints, large)}) {
    text-align: center;
    text-decoration: underline;
  }
}

.text-justify {
  text-align: justify;
}

// UL list style type none
// =================================
.no-bullet {
  list-style-type: none;
}


// no-padding
// =================================
.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

// margin
// =================================
.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.content-container {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: $layout-max-width;
  min-width: $layout-min-width;
  position: relative;
}

// visibility 
// =================================
.hide-small {
  display: none;
  visibility: hidden;

  @include bp(medium) {
    display: inherit;
    visibility: visible;
  }
}

.hide-medium {

  @include bp(medium) {
    display: none;
    visibility: hidden;
  }

  @include bp(large) {
    display: inherit;
    visibility: visible;
  }
}

.hide-large {

  @include bp(large) {
    display: none;
    visibility: hidden;
  }
}
