

// Headers 
// =================================
// variables coming from _variables.scss Headers

h1,
.h1 {
  @include font-size(map-deep-get($header-styles, small, h1, font-size));

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h1, font-size));
  }
}

h2,
.h2 {
  @include font-size(map-deep-get($header-styles, small, h2, font-size));

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h2, font-size));
  }
}

h3,
.h3 {
  @include font-size(map-deep-get($header-styles, small, h3, font-size));

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h3, font-size));
  }
}

h4,
.h4 {
  @include font-size(map-deep-get($header-styles, small, h4, font-size));

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h4, font-size));
  }
}

h5,
.h5 {
  @include font-size(map-deep-get($header-styles, small, h5, font-size));

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h5, font-size));
  }
}

h6,
.h6 {
  @include font-size(map-deep-get($header-styles, small, h6, font-size));

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h6, font-size));
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: $header-lineheight;
  margin-bottom: $header-margin-bottom;
  margin-top: $header-margin-top;
}
