

// Headers 
// =================================
// variables coming from _variables.scss Headers

.mega-headline {
  font-weight: map-deep-get($fonts-weight, $font-standard, thin);
  @include font-size(map-deep-get($header-styles, small, mega, font-size));
  line-height: map-deep-get($header-styles, small, mega, line-height);

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, mega, font-size));
    line-height: map-deep-get($header-styles, medium, mega, line-height);
  }

  @include bp(large) {
    @include font-size(map-deep-get($header-styles, large, mega, font-size));
    line-height: map-deep-get($header-styles, large, mega, line-height);
  }
}

h1,
.h1 {
  font-weight: map-deep-get($fonts-weight, $font-standard, light);
  @include font-size(map-deep-get($header-styles, small, h1, font-size));
  line-height: map-deep-get($header-styles, small, h1, line-height);

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h1, font-size));
    font-weight: map-deep-get($fonts-weight, $font-standard, thin);
    line-height: map-deep-get($header-styles, medium, h1, line-height);
  }

  @include bp(large) {
    @include font-size(map-deep-get($header-styles, large, h1, font-size));
    line-height: map-deep-get($header-styles, large, h1, line-height);
  }

}

h2,
.h2 {
  font-weight: map-deep-get($fonts-weight, $font-standard, light);
  @include font-size(map-deep-get($header-styles, small, h2, font-size));
  line-height: map-deep-get($header-styles, small, h2, line-height);

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h2, font-size));
    font-weight: map-deep-get($fonts-weight, $font-standard, thin);
    line-height: map-deep-get($header-styles, medium, h2, line-height);
  }

  @include bp(large) {
    @include font-size(map-deep-get($header-styles, large, h2, font-size));
    line-height: map-deep-get($header-styles, large, h2, line-height);
  }

}

h3,
.h3 {
  font-weight: map-deep-get($fonts-weight, $font-standard, bold);
  @include font-size(map-deep-get($header-styles, small, h3, font-size));
  line-height: map-deep-get($header-styles, small, h3, line-height);

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h3, font-size));
    line-height: map-deep-get($header-styles, medium, h3, line-height);
  }

  @include bp(large) {
    @include font-size(map-deep-get($header-styles, large, h3, font-size));
    line-height: map-deep-get($header-styles, large, h3, line-height);
  }
}

h4,
.h4 {
  font-weight: map-deep-get($fonts-weight, $font-standard, regular);
  @include font-size(map-deep-get($header-styles, small, h4, font-size));
  line-height: map-deep-get($header-styles, small, h4, line-height);

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h4, font-size));
    line-height: map-deep-get($header-styles, medium, h4, line-height);
  }

  @include bp(large) {
    @include font-size(map-deep-get($header-styles, large, h4, font-size));
    line-height: map-deep-get($header-styles, large, h4, line-height);
  }
}

h5,
.h5 {
  font-weight: map-deep-get($fonts-weight, $font-standard, bold);
  @include font-size(map-deep-get($header-styles, small, h5, font-size));
  line-height: map-deep-get($header-styles, small, h5, line-height);

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h5, font-size));
    line-height: map-deep-get($header-styles, medium, h5, line-height);
  }

  @include bp(large) {
    @include font-size(map-deep-get($header-styles, large, h5, font-size));
    line-height: map-deep-get($header-styles, large, h5, line-height);
  }
}

h6,
.h6 {
  font-weight: map-deep-get($fonts-weight, $font-standard, regular);
  @include font-size(map-deep-get($header-styles, small, h6, font-size));
  line-height: map-deep-get($header-styles, small, h6, line-height);

  @include bp(medium) {
    @include font-size(map-deep-get($header-styles, medium, h6, font-size));
    line-height: map-deep-get($header-styles, medium, h6, line-height);
  }

  @include bp(large) {
    @include font-size(map-deep-get($header-styles, large, h6, font-size));
    line-height: map-deep-get($header-styles, large, h6, line-height);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  margin-bottom: $header-margin-bottom;
  margin-top: $header-margin-top;


  b {
    font-weight: map-deep-get($fonts-weight, $font-standard, bold);
  }

}

// Bodycopy
// =================================
// variables coming from _variables.scss
p {
  @include font-size(map-deep-get($bodycopy-styles, small, font-size));
  font-weight: map-deep-get($fonts-weight, $font-standard, light);
  line-height: map-deep-get($bodycopy-styles, small, line-height);
  margin: 24px 0;

  @include bp(large) {
    @include font-size(map-deep-get($bodycopy-styles, large, font-size));
    line-height: map-deep-get($bodycopy-styles, large, line-height);
  }

  b,
  strong {
    font-weight: map-deep-get($fonts-weight, $font-standard, bold);
  }

}

.small-copy {
  @include font-size(map-deep-get($bodycopy-styles, xsmall, font-size));
  line-height: map-deep-get($bodycopy-styles, xsmall, line-height);
  color: $gray-medium;
}
