

/**
 * Fonts
 * =================================
 * 
 *
 *
 */
 $font-standard : 'Roboto', sans-serif;
 $fontCondense : 'Roboto Condensed', sans-serif;
 $fontsWeight: (
	$font-standard: (
			'thin'    : 100,
			'light'   : 300,
			'regular' : 400,
			'bold'    : 700,
			'black'   : 900
	 ),
	$fontCondense : (
		'light'   : 300,
		'regular' : 400,
		'bold'    : 700,
	 )
 );
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
/**
 * Headers 
 * =================================
 * variables applied to _topography.scss Headers 
 *
 *
 */

$header-lineheight : 1;
$header-margin-top: 0;
$header-margin-bottom: 0;
$header-styles: (
  'small': (
    'h1': ('font-size': 24px),
    'h2': ('font-size': 20px),
    'h3': ('font-size': 19px),
    'h4': ('font-size': 18px),
    'h5': ('font-size': 17px),
    'h6': ('font-size': 16px)
  ),
  'medium': (
    'h1': ('font-size': 48px),
    'h2': ('font-size': 40px),
    'h3': ('font-size': 31px),
    'h4': ('font-size': 25px),
    'h5': ('font-size': 20px),
    'h6': ('font-size': 16px)
	),
	'large': (
		'h1': ('font-size': 48px),
    'h2': ('font-size': 40px),
    'h3': ('font-size': 31px),
    'h4': ('font-size': 25px),
    'h5': ('font-size': 20px),
    'h6': ('font-size': 16px)	
	)
);



/**
 * Breakpoints
 * =================================
 * There are no common breakpoints so these are just a suggestions
 * You'll need to define your own breakpoints to suit your design
 * Add your breakpoints to this Sass map
 * Used in the Kickoff grid
 */
 $breakpoints: (
  xsmall  : 320px, 
	small   : 540px,
	medium  : 768px,
	large   : 1024px,
	xlarge  : 1440px
);

// Setup layout max-width
$layout-margin                : 0px; // [in pixels] Space outside the grid
$layout-max-width             : 1248px; // [in pixels]
$layout-min-width             : 320px;  // [in pixels] Minimum width for layout in <IE9




/**
 * Columns config
 * =================================
 * There are no common breakpoints so these are just a suggestions
 */
// Map variable
$gridconfig: (
	'small' : (
		'padding': 12px
	),
	'medium' : (
		'padding': 12px
	),
	'large' : (
		'padding': 12px
	),
);
$columns: (
	1 : 08.333333333%,
	2 : 16.66666667%,
	3 : 25%,
	4 : 33.33333333%,
	5 : 41.66666667%,
	6 : 50%,
  7 : 58.33333333%,
  8 : 66.66666667%,
  9 : 75%,
	10 : 83.033333333%,
	11 : 91.66666667%,
	12 : 100%
);