<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>MVP : Styleguide</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900|Roboto+Condensed:300,400,700">
  <link rel="stylesheet" href="./css/sxm.phoenix.min.css">
  <link rel="stylesheet" href="./css/grid.css">
</head>
<body>
  
  <main class="main">
    <div class="row header fw-title">
        <div class="column small-12"><h1>MVP | SxmPhoenix Framework <span>v0.0.1 ( alpha )</spa></h1></div>
    </div>


    <section class="fw-headers">
        <div class="row header align-center">
            <div class="column small-12">
                <h2>Typography</h2>
                <p>
                    Our typography is built with rems, making it easier to fine-tune your type across different breakpoints.
                </p>
            </div>

            <div class="column small-12 medium-9 align-left">
                <p class="h3">
                  Headers
                </p>
                <p>
                    Headers are preset with a font size, line height and spacing based on breakpoint.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row align-center">
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>h1<span>></span></span>This is an h1 header.<span class="code-line-tag"><span><&sol;</span>h1<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>h2<span>></span></span>This is an h2 header.<span class="code-line-tag"><span><&sol;</span>h2<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>h3<span>></span></span>This is an h3 header.<span class="code-line-tag"><span><&sol;</span>h3<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>h4<span>></span></span>This is an h4 header.<span class="code-line-tag"><span><&sol;</span>h4<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>h5<span>></span></span>This is an h5 header.<span class="code-line-tag"><span><&sol;</span>h5<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>h6<span>></span></span>This is an h6 header.<span class="code-line-tag"><span><&sol;</span>h6<span>></span>
                        </p>
                    </code>
                </div>

                <div class="column small-12 medium-5 align-left">
                    <h1>This is an h1 header.</h1>
                    <h2>This is an h2 header.</h2>
                    <h3>This is an h3 header.</h3>
                    <h4>This is an h4 header.</h4>
                    <h5>This is an h5 header.</h5>
                    <h6>This is an h6 header.</h6>
                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-9 align-left">
                    <p>
                        We are also including Classes to include heading sizes
                    </p>
                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>p class="h1"<span>></span></span>This is an h1 header.<span class="code-line-tag"><span><&sol;</span>p<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>p class="h2"<span>></span></span>This is an h2 header.<span class="code-line-tag"><span><&sol;</span>p<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>p class="h3"<span>></span></span>This is an h3 header.<span class="code-line-tag"><span><&sol;</span>p<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>p class="h4"<span>></span></span>This is an h4 header.<span class="code-line-tag"><span><&sol;</span>p<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>p class="h5"<span>></span></span>This is an h5 header.<span class="code-line-tag"><span><&sol;</span>p<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>p class="h6"<span>></span></span>This is an h6 header.<span class="code-line-tag"><span><&sol;</span>p<span>></span>
                        </p>
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <p class="h1">This is an h1 header.</p>
                    <p class="h2">This is an h2 header.</p>
                    <p class="h3">This is an h3 header.</p>
                    <p class="h4">This is an h4 header.</p>
                    <p class="h5">This is an h5 header.</p>
                    <p class="h6">This is an h6 header.</p>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="container">
            <div class="row align-center">

                <div class="column small-12 medium-9 align-left">
                    <p class="h3">
                        Paragraphs
                    </p>
                    <p>
                        This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know the characters Bert and Ernie on Sesame Street were named after Bert the cop and Ernie the taxi driver in Frank Capra’s “Its A Wonderful Life”? Pretty cool. Wrap <span class="code-line-tag"><span><</span>strong<span>></span></span> or <span class="code-line-tag"><span><</span>b<span>></span></span> <strong>around type to make it bold!</strong>
                    </p>
                </div>
 

            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-9 align-left">
                    <p class="h3">
                        X-small copy
                    </p>
                    <p>
                        Extending paragraph styles to use as disclaimer/legal copy
                    </p>


                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>p class="small-copy"<span>></span></span>Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn, fanny pack seitan meh subway tile. Af jean shorts iPhone tilde mumblecore asymmetrical shaman bicycle rights drinking vinegar schlitz kickstarter.<span class="code-line-tag"><span><&sol;</span>p<span>></span>
                        </p>

                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left align-top">
                    <p class="small-copy">
                        Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn, fanny pack seitan meh subway tile. Af jean shorts iPhone tilde mumblecore asymmetrical shaman bicycle rights drinking vinegar schlitz kickstarter.
                    </p>
                </div>
            </div>


            
            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-9 align-left">
                    
                    <p class="h3">
                        Text Link
                    </p>
                    <p>
                        Inline text link is a regular anchor tag inheriting the font-size from parent.
                    </p>

                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>p<span>></span></span>Lorem ipsum dolor amet tousled meditation forage butcher. Fixie 
                            <span class="code-line-tag"><span><</span>a href="#"<span>></span></span>snackwave<span class="code-line-tag"><span><</span>a<span>></span></span> bushwick trust fund williamsburg unicorn.<span class="code-line-tag"><span><&sol;</span>p<span>></span>
                        </p>  
                    </code>
  
                </div>
                <div class="column small-12 medium-5 align-left align-top">
                    <p>
                        Lorem ipsum dolor amet tousled meditation forage butcher. Fixie <a href="javascript:void()">snackwave</a> bushwick trust fund williamsburg unicorn.
                    </p>
                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-9 align-left">
                    <p>
                        A stand alone text-link can be added as an anchor tag with class 'text-link'
                    </p>

                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line"> 
                            <span class="code-line-tag"><span><</span>a class="text-link" href="#"<span>></span></span>I am a Link<span class="code-line-tag"><span><</span>a<span>></span></span>
                        </p>  
                    </code>
    
                </div>
                <div class="column small-12 medium-5 align-left">
                    <a class="text-link" href="javascript:void()">I am a Link</a>
                </div>
            </div>



            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-9 align-left">
                    
                    <p class="h3">
                        Text Alignment Classes
                    </p>
                    <p>
                        You can change the text alignment of an element by adding <span class="code-class">.text-left</span>, <span class="code-class">.text-right</span>, <span class="code-class">.text-center</span> or <span class="code-class">.text-justify</span> to an element or element parent.
                    </p>

                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-5 align-center">
                    <code class="code-block">
                        <p class="code-line"> 
                            <span class="code-line-tag"><span><</span>p class="text-left"<span>></span></span><em><&excl;-- text goes here --></em><span class="code-line-tag"><span><</span>p<span>></span></span>
                        </p>  
                    </code>
    
                </div>
                <div class="column small-12 medium-5 text-left">
                    <p>
                        Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                    </p>
                </div>
            </div>
        
            <div class="row align-center">
                <div class="column small-12 medium-5 align-center">
                    <code class="code-block">
                        <p class="code-line"> 
                            <span class="code-line-tag"><span><</span>p class="text-right"<span>></span></span><em><&excl;-- text goes here --></em><span class="code-line-tag"><span><</span>p<span>></span></span>
                        </p>  
                    </code>
    
                </div>
                <div class="column small-12 medium-5 text-right">
                    <p>
                        Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                    </p>
                </div>
            </div>

            <div class="row align-center">
                <div class="column small-12 medium-5 align-center">
                    <code class="code-block">
                        <p class="code-line"> 
                            <span class="code-line-tag"><span><</span>p class="text-center"<span>></span></span><em><&excl;-- text goes here --></em><span class="code-line-tag"><span><</span>p<span>></span></span>
                        </p>  
                    </code>
    
                </div>
                <div class="column small-12 medium-5 text-center">
                    <p>
                        Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                    </p>
                </div>
            </div>

            <div class="row align-center">
                <div class="column small-12 medium-5 align-center">
                    <code class="code-block">
                        <p class="code-line"> 
                            <span class="code-line-tag"><span><</span>p class="text-center"<span>></span></span><em><&excl;-- text goes here --></em><span class="code-line-tag"><span><</span>p<span>></span></span>
                        </p>  
                    </code>
    
                </div>
                <div class="column small-12 medium-5 text-justify">
                    <p>
                        Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                    </p>
                </div>
            </div>

            <div class="row align-center">
                <div class="column small-12 medium-9 align-left">
                    <p>
                        Adding a size to a text alignment class will cause it to only be applied on that size screen or larger (ex. .text-center-medium-up will center text for everything except small screens). Adding a size and only will apply the text alignment just for that media query (ex. .text-center-medium-only will center text just for medium screens).
                    </p>




                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-9">
                    <div class="row align-center no-padding">
                        <div class="column small-12 medium-6 large-3 no-padding">
                            <p class="code-list-title text-center no-margin">Align Left</p>
                            <div class="code-list-group">
                                <p class="code-class">.text-left-small-only</p>
                                <p class="code-class">.text-left-medium-only</p>
                                <p class="code-class">.text-left-medium-up</p>
                                <p class="code-class">.text-left-large-up</p>
                                <p class="code-class">.text-left-large-only</p>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-3 no-padding">
                            <p class="code-list-title text-center no-margin">Align Right</p>
                            <div class="code-list-group">
                                <p class="code-class">.text-right-small-only</p>
                                <p class="code-class">.text-right-medium-only</p>
                                <p class="code-class">.text-right-medium-up</p>
                                <p class="code-class">.text-right-large-up</p>
                                <p class="code-class">.text-right-large-only</p>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-3 no-padding">
                            <p class="code-list-title text-center no-margin">Align Center</p>
                            <div class="code-list-group">
                                <p class="code-class">.text-center-small-only</p>
                                <p class="code-class">.text-center-medium-only</p>
                                <p class="code-class">.text-center-medium-up</p>
                                <p class="code-class">.text-center-large-up</p>
                                <p class="code-class">.text-center-large-only</p>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-3 no-padding">
                            <p class="code-list-title text-center no-margin">Align Justify</p>
                            <div class="code-list-group">
                                <p class="code-class">.text-justify-small-only</p>
                                <p class="code-class">.text-justify-medium-only</p>
                                <p class="code-class">.text-justify-medium-up</p>
                                <p class="code-class">.text-justify-large-up</p>
                                <p class="code-class">.text-justify-large-only</p>
                            </div>
                        </div>
                        <div class="column small-12">
                            <p class="small-copy">
                                *not all classes/sizes have been added into framework
                            </p>
                        </div>
                    </div>
                </div>


            </div>




        </div>
    </section>


    
    <section class="fw-grid">
        <div class="row header align-center">
            <div class="column small-12 medium-9">
                <h2>Responsive Grid</h2>
                <p>Create powerful multi-device layouts quickly and easily with the default 12-column, nest-able grid. If you're familiar with grid systems, you'll feel right at home. If not, you'll learn quickly.</p>
            </div>
        </div>

        <div class="row  align-center">
            <div class="column small-12 medium-9 align-left">
                <p class="h3">Basics</p>
                <p>
                    Start by adding an element with a class of <span class="code-class">row</span>. This will create a horizontal block to contain vertical columns. Then add divs with a column class within that row. You can use <span class="code-class">column</span> - the only difference is grammar. Specify the widths of each column with the <span class="code-class">small-#</span>, <span class="code-class">medium-#</span>, and <span class="code-class">large-#</span> classes.
                </p>
                <p>
                    <b>SxmPhoenix Framework mobile-first ( small screens first )</b>. Code for small screens first, and larger devices will inherit those styles. Customize for larger screens as necessary.
                </p>
            </div>
        </div>
        <div class="container">
            
    
            <div class="row">
            <div class="column small-12 medium-12">12</div>
            </div>
    
            <div class="row">
            <div class="column small-12 medium-6">6</div>
            <div class="column small-12 medium-6">6</div>
            </div>
    
            <div class="row">
                <div class="column small-6">6</div>
                <div class="column small-6">6</div>
            </div>
    
            <div class="row">
                <div class="column small-4">4</div>
                <div class="column small-4">4</div>
                <div class="column small-4">4</div>
            </div>
    
            <div class="row">
                <div class="column small-4">4</div>
                <div class="column small-8">8</div>
            </div>
    
            <div class="row">
                <div class="column small-12 medium-3">3</div>
                <div class="column small-12 medium-3">3</div>
                <div class="column small-12 medium-3">3</div>
                <div class="column small-12 medium-3">3</div>
            </div>
    
            <div class="row">
                <div class="column small-12 medium-3">3</div>
                <div class="column small-12 medium-9">9</div>
            </div>
    
            <div class="row">
                <div class="column small-6 medium-4">4</div>
                <div class="column small-6 medium-8">8</div>
            </div>
            
            <div class="row">
                <div class="column small-6 medium-5">5</div>
                <div class="column small-6 medium-7">7</div>
            </div>
    
    
    
            <div class="row">
                <div class="column small-6 medium-3">3</div>
                <div class="column small-6 medium-3">3</div>
                <div class="column small-6 medium-3">3</div>
                <div class="column small-6 medium-3">3</div>
            </div>
    
            <div class="row">
                <div class="column small-2 medium-2">2</div>
                <div class="column small-2 medium-2">2</div>
                <div class="column small-2 medium-2">2</div>
                <div class="column small-2 medium-2">2</div>
                <div class="column small-2 medium-2">2</div>
                <div class="column small-2 medium-2">2</div>
            </div>
    
            <div class="row">
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
                <div class="column small-1">1</div>
    
            </div>
    
        </div>
    </section>

    <section>
            
        <div class="container">
            <div class="row align-center">
             
                <div class="column small-12 medium-9 align-left">
                    
                    <p class="h3">
                        Flexbox Utilities
                    </p>
                    <p>
                        Flexbox makes horizontal and vertical alignment painless, through the CSS properties <span class="code-class">align-items</span>, <span class="code-class">align-self</span>, and <span class="code-class">justify-content</span>. SxmPhoenix Framework includes a handful of classes for these properties, which work with any flexbox-enabled component.
                    </p>

                </div>
            </div>
            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-9 align-left">
                    
                    <p class="h3">
                        Horizontal Alignment
                    </p>
                    <p>
                        Horizontal alignment classes are applied to flex parents, when dealing with grid we are referring to the <span class="code-class">row</span>. Center alignment is the default, but you can use one of these classes to change this: <span class="code-class">.align-left</span>, <span class="code-class">.align-right</span>, <span class="code-class">.align-center</span>, <span class="code-class">.align-justify</span>, <span class="code-class">.align-spaced</span>

                    </p>

                </div>
            </div>


            <div class="row align-center">
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row align-left"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Align to<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>the Left<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-left align-display">
                        <div class="column small-5">Align to</div>
                        <div class="column small-5">the Left</div>
                    </div>
                </div>
            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row align-right"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Align to<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>the Right<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-right align-display">
                        <div class="column small-5">Align to</div>
                        <div class="column small-5">the Right</div>
                    </div>
                </div>
            </div>


            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row align-center"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Align to<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>the Center<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-center align-display">
                        <div class="column small-5">Align to</div>
                        <div class="column small-5">the Center</div>
                    </div>
                </div>
            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row align-justify"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Align to<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>the Edge<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-justify align-display">
                        <div class="column small-5">Align to</div>
                        <div class="column small-5">the Edge</div>
                    </div>
                </div>
            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row align-spaced"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Align to<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>the Space Around<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-spaced align-display">
                        <div class="column small-5">Align to</div>
                        <div class="column small-5">the Space Around</div>
                    </div>
                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-9 align-left">
  
                    <p>
                        You might be wondering what the difference between <span class="code-class">.align-justify</span> and <span class="code-class">.align-spaced</span> is. A justified grid (<span class="code-class">justify-content: space-between</span>) evenly distributes the space between each column. The first and last columns pin to the edge of the grid.
                    </p>
                    <p>
                        A spaced grid (<span class="code-class">justify-content: space-around</span>) evenly distributes the space around each column. This means there will always be space to the left of the first column, and to the right of the last column.
                    </p>


                </div>
            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-9 align-left">
                    
                    <p class="h3">
                        Vertical Alignment
                    </p>
                    <p>
                        Vertical alignment can be applied to a flex parent—which will align all the children automatically—or to a flex child, which will align only that element. Stretch alignment is the default. To set parent alignment, use these classes: <span class="code-class">.align-top</span>, <span class="code-class">.align-middle</span>, <span class="code-class">.align-bottom</span>, <span class="code-class">.align-stretch</span>
                        <br/>
                        <span class="small-copy">
                            Note that with vertical alignment, we use the term "middle" for the midpoint, while with horizontal alignment, we use the term "center". As we can't have two CSS classes with the same name, thus we are using different terms.
                        </span>
                    </p>


                </div>
            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row align-top"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Align to Top<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-top align-display align-center">
                        <div class="column small-5">Align to Top</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row align-middle"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Align to Middle<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-middle align-display align-center">
                        <div class="column small-5">Align to Middle</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row align-bottom"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Align to Middle<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-bottom align-display align-center">
                        <div class="column small-5">Align to Bottom</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row align-stretch"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>same Height<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-stretch align-display align-center">
                        <div class="column small-5">same Height</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-9 align-left">
                    <p class="h3">
                        Child Alignment Vertical & Horizontal
                    </p>
                    <p>
                        To align an individual child, use the below classes. They use the same alignment terms as the parent-level classes, but remember <span class="code-class">Stretch</span> alignment is the default, which is center Vertical and Horizontal.
                    </p>


                </div>
            </div>

            <div class="row align-center">
                
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Default<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-display align-center">
                        <div class="column small-5">Default</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-center">
                    <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5 align-top"<span>></span></span>Align to Top<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-display align-center">
                        <div class="column small-5 align-top">Align to Top</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5 align-middle"<span>></span></span>Align to Middle<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-display align-center">
                        <div class="column small-5 align-middle">Align to Middle</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5 align-bottom"<span>></span></span>Align to Bottom<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-display align-center">
                        <div class="column small-5 align-bottom">Align to Bottom</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5 align-left"<span>></span></span>Align to Left<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-display align-center">
                        <div class="column small-5 align-left">Align to Left</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5 align-center"<span>></span></span>Align to Center<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-display align-center">
                        <div class="column small-5 align-center">Align to Center</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>


            <div class="row align-center">
                <hr/>
                <div class="column small-12 medium-5 align-center code-block">
                    <code>
                        <p class="code-line">
                            <span class="code-line-tag"><span><</span>div class="row"<span>></span></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5 align-right"<span>></span></span>Align to Right<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            &nbsp;&nbsp;<span class="code-line-tag"><span><</span>div class="column small-5"<span>></span></span>Lorem ipsum...<span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>
                        <p class="code-line">
                            <span class="code-line-tag"><span><&sol;</span>div<span>></span>
                        </p>

                        
                    </code>

                        
                </div>
                <div class="column small-12 medium-5 align-left">
                    <div class="row align-display align-center">
                        <div class="column small-5 align-right">Align to Right</div>
                        <div class="column small-5">
                            Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn. Lorem ipsum dolor amet tousled meditation forage butcher. Fixie snackwave bushwick trust fund williamsburg unicorn.
                        </div>
                    </div>
                </div>
            </div>




            
        </div>
    </section>

  </main>
  <footer>
      <div class="row no-padding align-center footer">
        <div class="column small-6">
            <p class="small-copy">SxmPhoenix Framework</p>
        </div>
      </div>
  </footer>
</body>
</html>