<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>Styleguide</title>
  <!--
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900|Roboto+Condensed:300,400,700">
  -->
  <link rel="stylesheet" href="./css/sxm.phoenix.min.css">
  <link rel="stylesheet" href="./css/prototype.layouts.css">

</head>
<body>

  <header class="header">
    <div class="content-container">
        <div class="row">
            <div class="column small-12 medium-7 offset-medium-1">
                <h1 class="alt">
                    H1 Alt ipsum dolor sit amet tempor
                </h1>
            </div>
            <div class="column small-12 medium-4 offset-medium-1 align-left">
              <p>
                Standard copy lorem ipsum dolor sit amet eres tempor consectetur adipiscing elit, sed do eiusmod.
              </p>
              <a href="#" class="button">LOREM IPSUM</a>
            </div>
          </div>
        </div>
    </div>
  </header>

  <main class="main">

    <section class="header-secondary dark-bg">
      <div class="content-container">
          <div class="row">
            <div class="column small-12 medium-6 offset-medium-4 align-left light-blue-bg">
              <h1 class="">
                  H1 Alt ipsum dolor sit amet tempor
              </h1>
              <p>
                Standard copy lorem ipsum dolor sit amet eres tempor consectetur adipiscing elit, sed do eiusmod.
              </p>
              <a href="#" class="button">LOREM IPSUM</a>
            </div>
          </div>
      </div>
    </section>

    <section class="light-bg">
      <div class="content-container">
        <div class="row">
          <div class="column small-12">
            <h6 class="alt alt-title">
                H6 ALT SECTION TITLE
            </h6>
          </div>
        </div>

        <div class="row cards-holder">
          <div class="column small-12 medium-6 large-3 no-padding">
            <div class="row no-padding align-top">
              <div class="column small-12 cards-holder-single no-padding">

              </div>
              <div class="column small-12 cards-holder-single-copy align-left">
                <p class="xsmall-copy title">X-small copy magna aliqua </p>
                <p class="small-copy">
                  Small copy lorem ipsum dolor sit amet, tempor consectetur adipiscing elit, sed do eiusmod incididunt ut labore dolore magna aliqua. 
                </p>
              </div> 
            </div>
          </div>
          <div class="column small-12 medium-6 large-3 no-padding">
            <div class="row no-padding align-top">
              <div class="column small-12 cards-holder-single no-padding">

              </div>
              <div class="column small-12 cards-holder-single-copy align-left">
                <p class="xsmall-copy title">X-small copy magna aliqua </p>
                <p class="small-copy">
                  Small copy lorem ipsum dolor sit amet, tempor consectetur adipiscing elit, sed do eiusmod incididunt ut labore dolore magna aliqua. 
                </p>
              </div>  
            </div>
          </div>
          <div class="column small-12 medium-6 large-3 no-padding">
            <div class="row no-padding">
              <div class="column small-12 cards-holder-single no-padding">

              </div>
              <div class="column small-12 cards-holder-single-copy align-left">
                <p class="xsmall-copy title">X-small copy magna aliqua </p>
                <p class="small-copy">
                  Small copy lorem ipsum dolor sit amet, tempor consectetur adipiscing elit, sed do eiusmod incididunt ut labore dolore magna aliqua. 
                </p>
              </div> 
            </div>
          </div>
          <div class="column small-12 medium-6 large-3 no-padding">
            <div class="row no-padding">
              <div class="column small-12 cards-holder-single no-padding">

              </div>
              <div class="column small-12 cards-holder-single-copy align-left">
                <p class="xsmall-copy title">X-small copy magna aliqua </p>
                <p class="small-copy">
                  Small copy lorem ipsum dolor sit amet, tempor consectetur adipiscing elit, sed do eiusmod incididunt ut labore dolore magna aliqua. 
                </p>
              </div> 
            </div>
          </div>
        </div>
      </div>


    </section>
    <!--
      LAYOUT 4
    -->
    <section class="light-bg">
      <div class="content-container">
        <div class="row align-top  align-stretch card-block-holder">
          <div class="column small-12 medium-6 padding-medium-1 card-block align-left">
            <h3>
                H3 tempor con sectetur adi piscing elit sed do eiusmod incididunt ut labore dolore magna. 
            </h3>
            <p class="xsmall-copy">
              H3 tempor con sectetur adi piscing elit sed do eiusmod incididunt ut labore dolore magna. 
            </p>
            <p>
              Standard copy lorem ipsum dolor sit amet, tempor consectetur adipiscing elit, sed do eiusmod incididunt ut labore dolore.
            </p>
          </div>
          <div class="column small-12 medium-6 dark-bg">
              
          </div>
        </div>
        <div class="row align-top  align-stretch card-block-holder">
          <div class="column small-12 medium-6 light-blue-bg">
            
            </div>
          <div class="column small-12 medium-6 padding-medium-1 card-block align-left">
            <h3>
                Tempor con sectetur adi piscing elit sed do eiusmod incididunt ut labore dolore magna. 
            </h3>
            <p class="xsmall-copy">
                Dolore magna aliqua  
            </p>
            <p>
                Lorem ipsum dolor sit amet, tempor consectetur adipiscing elit, sed do eiusmod incididunt ut labore dolore magna aliqua. 
            </p>
          </div>

        </div>
      </div>
    </section>

    <!--
      LAYOUT 6
    -->
    <section class="light-bg">
      <div class="content-container">
        <div class="row align-top">
          <div class="column small-12 medium-4">
            <h5>
              H5 Lorem ipsum dolor sit adipsing amet eget lacus sed viverra sapien faucibus et molestie 
            </h5>
            <p>
              Small copy vivamus arcu felis bibendum ut tristique. Id cursus metus aliquam eleifend mi in nulla posuere. Elit sed vulputate mi sit amet mauris commodo. Sit amet porttitor eget dolor morbi. Amet nisl purus in mollis nunc sed. Diam phasellus vestibulum lorem sed risus ultricies. A diam sollicitudin tempor.
            </p>
          </div>
          <div class="column small-12 medium-4">
            <h5>
              H5 Lorem ipsum dolor sit adipsing amet eget lacus sed viverra sapien faucibus et molestie 
            </h5>
            <p>
              Small copy vivamus arcu felis bibendum ut tristique. Id cursus metus aliquam eleifend mi in nulla posuere. Elit sed vulputate mi sit amet mauris commodo. Sit amet porttitor eget dolor morbi. Amet nisl purus in mollis nunc sed. Diam phasellus vestibulum lorem sed risus ultricies. A diam sollicitudin tempor.
            </p>
          </div>
          <div class="column small-12 medium-4">
            <h5>
              H5 Lorem ipsum dolor sit adipsing amet eget lacus sed viverra sapien faucibus et molestie 
            </h5>
            <p>
              Small copy vivamus arcu felis bibendum ut tristique. Id cursus metus aliquam eleifend mi in nulla posuere. Elit sed vulputate mi sit amet mauris commodo. Sit amet porttitor eget dolor morbi. Amet nisl purus in mollis nunc sed. Diam phasellus vestibulum lorem sed risus ultricies. A diam sollicitudin tempor.
            </p>
          </div>
        </div>
      </div>
    </section>


    <!--
      LAYOUT 7
    -->
    <section class="light-bg">
      <div class="content-container">
        <div class="row align-top">
          <div class="column small-12 medium-5 offset-medium-1">
            <h5>
              H5 lorem ipsum dolor sit adipsing amet eget lacus sed viverra sapien faucibus et molestie
            </h5>
            <p>
              Small copy vivamus arcu felis bibendum ut tristique. Id cursus metus aliquam eleifend mi in nulla posuere. Elit sed vulputate mi sit amet mauris commodo. Sit amet porttitor eget dolor morbi. Amet nisl purus in mollis nunc sed. 
            </p>
            <p>
              Diam phasellus vestibulum lorem sed risus ultricies. A diam sollicitudin tempor id eu nisl nunc mi ipsum. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. Neque aliquam vestibulum morbi blandit cursus. Facilisi etiam dignissim diam quis enim lobortis. Nunc eget lorem dolor sed viverra ipsum nunc. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor.
            </p>
          </div>
          <div class="column small-12 medium-5">
            <h5>
              Ultricies lacus sed turpis tin cidunt id aliquet risus feugiat sit adipsing amet
            </h5>
            <p>
                Adipiscing diam donec adipiscing tristique risus nec feugiat in. Auctor urna nunc id cursus metus aliquam. Diam quam nulla porttitor massa id. Netus et malesuada fames ac turpis egestas maecenas pharetra. Faucibus ornare suspendisse sed nisi lacus sed viverra. Sapien faucibus et molestie ac feugiat sed. 
            </p>
            <p>
                Vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Pellentesque nec nam aliquam sem et tortor. Cras sed felis eget velit aliquet sagittis id consectetur purus. Dapibus ultrices in iaculis nunc sed augue. Ac ut consequat semper viverra nam. Dignissim cras tincidunt lobortis feugiat vivamus at augue. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--
      LAYOUT 8
    -->
    <section class="light-bg">
        <div class="content-container">

          <div class="row">
            <div class="column small-12 medium-10 offset-medium-1">
              <h2>
                H2 ipsum dolor sit amet adipiscing elit sed do eiusmod tempor incididunt ut
              </h2>
            </div>
          </div>

          <div class="row align-top">
            <div class="column small-12 medium-3  offset-medium-1">
              <h6>
                H6 tempor orci eu lobortis elementum feugiat scelerisque faucibus pulvinar elementum
              </h6>
            </div>
            <div class="column small-12 medium-7">
              <p>
                  Standard copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor orci eu lobortis elementum. In tellus integer feugiat scelerisque. Vulputate enim nulla aliquet porttitor lacus luctus. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Faucibus in ornare quam viverra orci. Ut tristique et egestas quis ipsum suspendisse ultrices. Enim facilisis gravida neque convallis a cras semper auctor. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Purus ut faucibus pulvinar elementum integer enim. Phasellus faucibus scelerisque eleifend donec.
              </p>
              <p>
                  Vivamus arcu felis bibendum ut tristique. Id cursus metus aliquam eleifend mi in nulla posuere. Elit sed vulputate mi sit amet mauris commodo. Sit amet porttitor eget dolor morbi. Amet nisl purus in mollis nunc sed. Diam phasellus vestibulum lorem sed risus ultricies. A diam sollicitudin tempor id eu nisl nunc mi ipsum. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. Neque aliquam vestibulum morbi blandit cursus. Facilisi etiam dignissim diam quis enim lobortis. Nunc eget lorem dolor sed viverra ipsum nunc. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="column small-12 medium-8  offset-medium-3">
              <h3>
                H3 lorem ipsum dolor sit amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor orci eu lobortis elementum.
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="column small-12 medium-7 offset-medium-4">
              <p>
                  Standard copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor orci eu lobortis elementum. In tellus integer feugiat scelerisque. Vulputate enim nulla aliquet porttitor lacus luctus. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Faucibus in ornare quam viverra orci. Ut tristique et egestas quis ipsum suspendisse ultrices. Enim facilisis gravida neque convallis a cras semper auctor. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Purus ut faucibus pulvinar elementum integer enim. Phasellus faucibus scelerisque eleifend donec.
              </p>
              <p>
                  Vivamus arcu felis bibendum ut tristique. Id cursus metus aliquam eleifend mi in nulla posuere. Elit sed vulputate mi sit amet mauris commodo. Sit amet porttitor eget dolor morbi. Amet nisl purus in mollis nunc sed. Diam phasellus vestibulum lorem sed risus ultricies. A diam sollicitudin tempor id eu nisl nunc mi ipsum. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. Neque aliquam vestibulum morbi blandit cursus. Facilisi etiam dignissim diam quis enim lobortis. Nunc eget lorem dolor sed viverra ipsum nunc. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor.
              </p>
            </div>
          </div>

          
        </div>
    </section>


  </main>

  </body>
</html>