

/**
 * Button Base styles
 * =================================
 * Button reset:
 * no background
 * no border
 * no padding
 * no margin
 */
button {
  background: transparent;
  border: 0;
  padding:0;
  margin:0;
  line-height: 1;
  font-family: $font-standard;
  @include fontSize(13px);
  font-weight: map-deep-get($fontsWeight ,$font-standard , 'regular');
}