
.mvp-component--threecol {
  background-color: $gray-light;
  padding: 56px 0 48px;

  @include bp(medium) {
    padding: 72px 0;
  }

  @include bp(large) {
    padding: 96px 0;
  }

  &-title {
    margin-bottom: 32px;

    @include bp(medium) {
      margin-bottom: 64px;
    }

  }

  &-point {
    margin-bottom: 24px;
  
    @include bp(medium) {
      margin-bottom: 0;
    }
  }

  &-image {
    max-width: 132px;

    @include bp(medium) {
      max-width: 184px;
    }

    @include bp(large) {
      max-width: 248px;
    }

    transition: max-width .15s ease;
  }

  &-copy {
    font-weight: 300;

    @include bp(medium) {
      margin: 24px 0 32px;
      max-width: 216px;
    }

    @include bp(large) {
      margin: 32px 0 40px;
      max-width: 288px;
    }

  }

  &-disclaimer {
    margin: 8px 0 32px;

    @include bp(medium) {
      margin: 0 0 32px;
    }

    @include bp(large) {
      margin: 0 0 40px;
    }

  }

  &-cta {
    margin-bottom: 24px;

    @include bp(large) {
      margin-bottom: 32px;
    }
  }

}
