

.navigation {

  background: $white;

  [role='menubar'] {

    list-style-type: none;
    margin: 0;
    position: relative;

  }

  &.horizantal-nav {
    [role='menubar'] {
      display: flex;
    }
  }


  [role='menuitem'] {
    color: $gray-dark;
    @include font-size(18px);
    text-decoration: none;
  }

}
