

.navigation {

  background: $white;

  [role="menubar"] {

    list-style-type: none;
    margin: 0;
    position: relative;
    
  }

  &.horizantal-nav {
    [role="menubar"] {
      display: flex;
    }
  }


  a[role="menuitem"] {
    color: $gray_dark;
    @include fontSize(18px);
    text-decoration: none;
  }

}