

.topbar {
  position: absolute;
  width: 100%;
  background-color: $gray-light;
  margin: 0;
  z-index: 2;

  &-content {
    padding: 0 12px;
  }

  &-content--button {
    color: $black;
    @include font-size(13px);
    font-weight: map-deep-get($fonts-weight, $font-standard, regular);
    line-height: 1.55;
    padding: 5px 22px 5px 49px;
    transform: translateX(22px);
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 17px 17px;

    &.support-btn {
      background-image: url('../images/ico_help.png');
      background-position: 18% 50%;
    }

    &.account-btn {
      background-image: url('../images/ico_profile.png');
      background-position: 13% 50%;
    }

  }

}

